{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="pure-g">
      <div class="pure-u-1-3">
        {% if first_games %}
        <h3> Games ready to join </h3>
        <ul>
          {% for first_game in first_games %}
            <li>
              <a href="{% url 'set_stake' pk=first_game.pk %}">{{ first_game.pk }}: Round: {{ first_game.round_no}} Ends at {{ first_game.ends_at }} </a>
            </li>
          {% endfor %}
        </ul>
        {% else %}
          <h5> There are no games available to join </h5>
        {% endif %}
      </div>
      <div class="pure-u-1-3">
        {% if second_games %}
        <h3> Games pending a result </h3>
        <ul>
          {% for second_game in second_games %}
            <li>
              <a href="{% url 'view_game' pk=second_game.pk %}">{{ second_game.pk }}: Round: {{ second_game.round_no}} Ends at {{ second_game.ends_at }} </a>
            </li>
          {% endfor %}
        </ul>
        {% else %}
          <h5> You have no games pending outcome </h5>
        {% endif %}
      </div>
      <div class="pure-u-1-3">
        {% if choose_games %}
        <h3> Games where you need to make a move </h3>
        <ul>
          {% for choose_game in choose_games %}
            <li>
              <a href="{% url 'view_game' pk=choose_game.pk %}">{{ choose_game.pk }}: Round: {{ choose_game.round_no}} Ends at {{ choose_game.ends_at }} </a>
            </li>
          {% endfor %}
        </ul>
        {% else %}
          <h5> You have no games where you need to make a move </h5>
        {% endif %}
      </div>
  </div>

  <div class="pure-g">
      <div class="pure-u-1-3">
        {% if choose_games %}
        <h3> Games where you need to make a move </h3>
        <ul>
          {% for choose_game in choose_games %}
            <li>
              <a href="{% url 'view_game' pk=choose_game.pk %}">{{ choose_game.pk }}: Round: {{ choose_game.round_no}} Ends at {{ choose_game.ends_at }} </a>
            </li>
          {% endfor %}
        </ul>
        {% else %}
          <h5> You have no games where you need to make a move </h5>
        {% endif %}
      </div>
      <div class="pure-u-1-3">
        {% if lost_games %}
        <h3> Games you've lost </h3>
        <ul>
          {% for lost_game in lost_games %}
            <li>
              <a href="{% url 'view_game' pk=lost_game.pk %}">{{ lost_game.pk }}: Round: {{ lost_game.round_no}}  </a>   <a href="{% url 'remove_game' pk=lost_game.pk %}"> Remove  </a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="pure-u-1-3">
        {% if won_games %}
        <h3> Games you've won </h3>
        <ul>
          {% for won_game in won_games %}
            <li>
              <a href="{% url 'view_game' pk=won_game.pk %}">{{ won_game.pk }}: Round: {{ won_game.round_no}} Ends at {{ won_game.ends_at }} </a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
  </div>
</div>

<!-- <ul>
  {% for live_game in live_games %}
    <li>
      <a href="{% url 'view_game' pk=live_game.pk %}">{{ live_game.pk }}: Ends at {{ live_game.ends_at }} </a>
    </li>
  {% endfor %}
</ul> -->

<!-- <ul>
  {% for user_round_over_game in user_round_over_games %}
    <li>
      <a href="{% url 'view_game' pk=user_round_over_game.pk %}">{{ user_round_over_game.pk }}: CHOOSE YOUR COLOUR </a>
    </li>
  {% endfor %}
</ul> -->



{% endblock %}
