{% extends 'base.html' %}
{% load static %}


{% block content %}

  <p>Game {{ game.id}}</p>

  <p>Ends at {{ game.ends_at }}</p>

  <div id="countdown"></div>
  
      <form method="POST" class="post-form">{% csrf_token %}
      {{ selection_form.as_p }}
      <button type="submit" class="save btn btn-default">Save</button>
      </form>



  {% if reds %}
    <h3> {{ reds.count }} person{{ reds.count|pluralize }} chose Red </h3>
    <ul>
      {% for red in reds %}
        <li> <h5>{{ red.player.user }} </h5> </li>
      {% endfor %}
    </ul>
  {% else %}
    <h3> Nobody has chosen Red yet </h3>
  {% endif %}

  {% if blacks %}
    <h3> {{ blacks.count }} person{{ blacks.count|pluralize }} chose Black </h3>
    <ul>
      {% for black in blacks %}
        <li> <h5>{{ black.player.user }} </h5> </li>
      {% endfor %}
    </ul>
  {% else %}
    <h3> Nobody has chosen Black yet </h3>
  {% endif %}


    <script src="{% static "/js/plugin.js" %}"></script>
    <script src="{% static "/js/countdown.js" %}"></script>
    <script src="{% static "/js/view.js" %}"></script>

    <script>
      $("#countdown").countdown({ until: new Date({{end_time_string}})});
    </script>

{% endblock %}
