{% extends 'base.html' %}
{% load static %}
{% load show_items %}


{% block content %}

  <p>Game {{ game.id}}</p>

  <p>Ends at {{ game.ends_at }}</p>

  <ol>
    {% for colour, round in game_data %}
        <li>
          <p> {{colour|capfirst}}: {{ round }} player{{round|pluralize}} exited </p>
        </li>
    {% endfor %}
  </ol>

  {% if game.in_progress %}
    <div id="countdown"></div>
    {% if selection.colour == "" %}
      {{ selection_form.as_p }}
        <h3><a href="{% url 'join_game' pk=game.pk choice='red' %}">Red</a></h3>
        <h3><a href="{% url 'join_game' pk=game.pk choice='black' %}">Black</a></h3>
    {% elif selection %}
        <h3>You chose {{ selection.colour }}</h3>
    {% endif %}

    <ol>
      {% for colour in previous_colours %}
          <li>
              <p> {{ colour }}  </p>
          </li>
      {% endfor %}
    </ol>

    {% show_items reds "red" %}

    {% show_items blacks "black" %}

  {% else %}

    <h2> Game is over </h2>

  {% endif %}

    <script src="{% static "/js/plugin.js" %}"></script>
    <script src="{% static "/js/countdown.js" %}"></script>
    <script src="{% static "/js/view.js" %}"></script>

    <script>
      $("#countdown").countdown({ until: new Date({{end_time_string}})});
    </script>

{% endblock %}
