{% extends 'base.html' %}
{% load static %}


{% block content %}

  <p>Game {{ game.id}}</p>

  <p>Ends at {{ game.ends_at }}</p>

  <div id="countdown"></div>

  {% if selection %}
    <h3>You chose {{ selection.colour }}</h3>
  {% else %}
    <h3><a href="{% url 'join_game' pk=game.pk selection='red' %}">Red</a></h3>
    <h3><a href="{% url 'join_game' pk=game.pk selection='black' %}">Black</a></h3>
  {% endif %}

  {% if reds %}
    <h3> {{ reds.count }} person{{ reds.count|pluralize }} chose Red </h3>
    <ul>
      {% for red in reds %}
        <li> <h5>{{ red.player.user }} </h5> </li>
      {% endfor %}
    </ul>
  {% elif selection is None %}
    <h3> Be the first to choose Red </h3>
  {% else %}
    <h3> Nobody has chosen Black yet </h3>
  {% endif %}

  {% if blacks %}
    <h3> {{ blacks.count }} people{{ blacks.count|pluralize }} chose Black </h3>
    <ul>
      {% for black in blacks %}
        <li> <h5>{{ black.player.user }} </h5> </li>
      {% endfor %}
    </ul>
  {% elif selection is None %}
    <h3> Be the first to Black </h3>
  {% else %}
    <h3> Nobody has chosen Black yet </h3>
  {% endif %}

    <script src="{% static "/js/plugin.js" %}"></script>
    <script src="{% static "/js/countdown.js" %}"></script>
    <script src="{% static "/js/view.js" %}"></script>

    <script>
      $("#countdown").countdown({ until: new Date({{end_time_string}})});
    </script>

{% endblock %}
